@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Special+Elite&display=swap");
.Copywrite_footer {
  text-align: center;
  bottom: 0;
  position: sticky;
  margin-top: 30%;
  width: 100%;
  line-height: 3;
  text-shadow: 5px 5px 5px grey;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.229);
}

.header_Div {
  background-color: rgb(0, 0, 0);
  font-family: "Special Elite", cursive;
}

.btn-warning {
  padding: 10px;
  width: 100px;
  font-size: larger;
  margin-top: 10px;
}

.para {
  font-family: "Roboto", sans-serif;
}

.label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 10px;
}
